.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #0c0324, #000000);
    flex-direction: column;
}

.text {
    font-size: 300%;
    color: #f5f5f5;
    margin-bottom: 2%;
}

.paragrafo {
    font-size: 150%;
    color: #f5f5f5;
    margin-bottom: 2%;
}

.btn {
    padding: 20px 60px;
    background: #f5f5f5;
    text-decoration: none;
    color: black;
    font-size: 100%;
    transition: all 0.5s;
}

.btn:hover {
    border-radius: 16px;
}

@media screen and (max-width: 550px){
    
    .text {
        font-size: 200%;
        color: #f5f5f5;
        margin-bottom: 2%;
    }
    
    .paragrafo {
        font-size: 100%;
        color: #f5f5f5;
        margin-bottom: 10%;
    }

}

@media screen and (max-width: 390px){

    .text {
        font-size: 150%;
        color: #f5f5f5;
        margin-bottom: 2%;
    }
    
    .paragrafo {
        font-size: 75%;
        color: #f5f5f5;
        margin-bottom: 10%;
    }
    
}